<footer class="bg-body-tertiary text-center text-lg-start footer fixed-bottom">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-body" href="https://github.com/Dani2033/Symfony-test">Symfony Test</a>
        <a href="{{ path('landing_page') }}" class="btn btn-primary btn-lg">Back to landing page</a>
    </div>
</footer>